@page "/"

<h3>About Me</h3>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap" rel="stylesheet">
</head>
<body>
    Hello! Welcome to BenSite a fan page dedicated to yours truly.
    Here is the Link to the website share it with friends: https://proud-sky-01215681e.3.azurestaticapps.net/
    <img src="/css/images/ben.jpg" alt="ben in a hat" width="500" height="600">
    @* <img src="~/css/images/ben.jpg" alt="ben in a hat" width="500" height="600"> *@
</body>

Colors
Green: 00A86B
Red: F04923
Blue: 0067A5
Yellow: FFBF00
