@page "/"

<HeadContent> 
    <meta name="description" content="ALL ABOUT BEN (maybe deleate later)" />
</HeadContent>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap" rel="stylesheet">
</head>
<body class="bodyHome">
    <main class="BenMain">
    <h3>About Me</h3>
    Hello! Welcome to BenSite a fan page dedicated to yours truly.
    @* https://proud-sky-01215681e.3.azurestaticapps.net/ *@
    </main>
    <div class="BenDiv">
        <section>
            <img src="/css/images/ben.jpg" alt="ben in a suit">
        </section>
        <section class="graph">
            <h1>What does Ben do in his free time?</h1>
            <p>
                I love skiing during the winter with my family. I've been talking classes at snow college for three semesters.
                I plan on transferring to Utah State University in the fall. I've got five siblings, two dogs, and a pet bird.
                My favorite movie is Megamind. Favorite TV show is The Simpsons. My favorite video game is Mario Kart.
                I also love to practice the French horn in my free time and perform whenever my schedule allows.
                <button type="button" id="goofy">Goofy Button</button>
            </p>
        </section>
    </div>
</body>

<footer>
    BenSite 2025 🥸 <a href="https://www.facebook.com/">Find me on Facebook!</a> Benjamin.Mair@students.snow.edu
</footer>

@* modal inerworkings *@
<dialog id="myModal">
    <h2>Greetings!</h2>
    <p>Thanks for coming to my website! <br/><strong>Have a great day -ben</strong></p>
    <button type="button" id="closeModalBtn">Close</button>
</dialog>

@* modal script *@
<script>
    const openModalBtn = document.getElementById('goofy');
    const closeModalBtn = document.getElementById('closeModalBtn');
    const myModal = document.getElementById('myModal');

    openModalBtn.addEventListener('click', () => {
      myModal.showModal(); // Displays the modal
    });

    closeModalBtn.addEventListener('click', () => {
      myModal.close(); // Closes the modal
    });
</script>


@* Colors
Green: 00A86B
Red: F04923
Blue: 0067A5
Yellow: FFBF00 *@
