@page "/clone"

<h3>Clone</h3>

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<body class="bodyClone">
<div class="header-container">
    <div class="theHead"><strong>TRAVEL BLOG</strong></div>
    <div class="theHead2">Search</div>
</div>

    <div class="cloneBar">
        <span>Page 1</span>
        <span>Page 2</span>
        <span>Page 3</span>
        <span>Page 4</span>
        <span>Page 5</span>
        <span>Bage 5</span>
    </div>
    <div class="mainGreyBox">
        <div class="photoAndBanner">
            <img src="/css/images/clone1.png" alt="two islands">

            <div class="bannerKids">
                <span>BANNER 1</span>
                <span>BANNER 2</span>
                <span>BANNER 3</span>
                <span>BANNER 4</span>
            </div>
        </div>

        <div>
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
        </div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Itenan fermentarteuma Nis-
            triissont, ulliciet, vistres ultnust, aget insac'. Ut higulla pulvitie. Nuiliam saguies
            ibem, ac stautis autiemol mol nc. Nec eît nolure rei putu'sum fritisex ldturat vital
            posuem ailores inaqlis etendari em.
        </div>
        <div>
            <h4>Lorem ipsum dolor sit amet,</h4>
            Lorem lipsium delor sit. anant
            consectetur adipiscing ellt. in-
            fatun nocaitusat, nuca damec
            sed hulh arta numate vu/e e.
        </div>
        <div>
            Lorem ipsum dolor
            te. Dene coporer
            tetur adipiscing elit.
        </div>
        <div>
            Lorem ipsum dolor
            te. Deno oomera
            tetur adialiguame.
        </div>
        <div>
            <h3>Read More</h3>
        </div>
        <div>
            <h2>Lorem ipsum dolor sit amet, consectetur</h2>
        </div>
        <div>
            <h2>Lorem ipsum dolor sit amet,</h2>
            Lorem ipsum dolor elt amet. consectetur adipiscing elit. Dêisec unte rins eget nto Nis-
            eni'm risês, solis, anet suntoar inscax cilla el. Dence aolits nonspuretimraless a nai. Cuitus
            sqidient pes lor hingulla cic ulliam corper locttis termenlum. im uatut rmelit's. Connatis senarllet.
        </div>
        <div>
            NEWSLETTER

            EMAIL

            SMESCRIBE

            SUBSCRIBE
        </div>


    </div>
</body>