@page "/experiment"

<h3>Experiment</h3>

<div class="my3d-demo">
    <div class="cube">
        <div class="face front"><a href="https://github.com/benny9-code">my github</a></div>
        <div class="face back"><a href="https://proud-sky-01215681e.3.azurestaticapps.net/">ben site</a></div>
        <div class="face right"><a href="http://blog.ackerson.org/">grandmas blog</a></div>
        <div class="face left"><a href="mailto:benjamin.mair@students.snow.edu">contact me</a></div>
        <div class="face top"><a href="https://youtu.be/xvFZjo5PgG0">fun website</a></div>
        <div class="face bottom"><a href="https://www.thewikigame.com/play/">fav game</a></div>
    </div>
</div>

