@page "/resume"

<body>
    <header class="topResume">
        <h3>Resume</h3>
    </header>
    <section>
        <div class="Hoverbit">
            Contact Info: thebenmair@gmail.com
        </div>
        <div class="Hoverbit">
            Education: Viewmont High School 2022 & Snow College 2026
        </div>
        <div class="Hoverbit">
            Work History:
            Lagoon Ride/Grounds 2020-2021 |
            Chick-fil-A Back out house 2022-2023 |
            Kilo2 Security 2022-2023 |
            Global Services IT 2023-2025 |
            Resident Assistant 2025-2026
        </div>
        <div class="Hoverbit">
            Tools:
            Visual Studio
        </div>
        <div class="Hoverbit">
            Skills or Languages:
            C#, HTML, CSS & basic JavaScript
        </div>
        <div class="Hoverbit">
            Certifications or Awards:
            20+ Merit Badges & Half marathon runner
        </div>
    </section>
</body>
