@page "/table"

<h3>Favorite Movies</h3>
<table>
    <tr>
        <th>Animated</th>
        <th>Action</th>
        <th>Horror</th>
    </tr>
    <tr>
        <td>Megamind A+</td>
        <td>Inception C+</td>
        <td>Signs B-</td>
    </tr>
    <tr>
        <td>Lego Batman B+</td>
        <td>Count of Monty Cristo S tier</td>
        <td>The Six Sense C-</td>
    </tr>
</table>



Goal: Display information using tables.
Description:

Create at least two tables, such as:

Course schedule or grades

Favorite movies, games, or projects

Include a header row and multiple data rows

@* Use <thead>, <tbody>, and <tfoot> properly *@

Bonus Challenge:
Add a row or column highlighting your best data (e.g., top score, highest value).
